:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Georgia;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem; /* optional padding on sides */
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 15px !important;
  padding-right:5px;
}

p {
  font-size: 0.9em;
}

.dropcap::first-letter {
  font-size: 3.5em;      /* make it big */
  font-weight: 400;   /* bold it */
  float: left;         /* make it sit to the left of the text */
  line-height: 1;      /* adjust spacing */
  margin-right: 2px; /* small gap between letter and text */
  margin-top: -5px;
  margin-bottom: -5px;
}

.logo {
  background-image: url("/9at9.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  padding-left: 60px;
  padding-top: 10px;
}

.last-updated {
  font-size: 0.9em;
  padding-top: 20px;
}

.btn-close {
  opacity: 10%;
}

.category {
  font-family: sans-serif !important; 
  color: #aaa !important;
  display: none;
}

.source {
  font-size: 0.75em !important;
}
.source a:hover {
  text-decoration: underline;
}