:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Georgia;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem; /* optional padding on sides */
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 15px !important;
  padding-right:5px;
  color:#171717;
}

p {
  font-size: 0.9em;
  color:#171717;
}

.weather-cols {
  font-size: 0.95em;
  color:#171717;
  column-count: 2;
  column-gap: 1.5rem;
}

.dropcap::first-letter {
  font-size: 3.5em;      /* make it big */
  font-weight: 400;   /* bold it */
  float: left;         /* make it sit to the left of the text */
  line-height: 1;      /* adjust spacing */
  margin-right: 2px; /* small gap between letter and text */
  margin-top: -5px;
  margin-bottom: -5px;
}

.logo {
  padding-top: 9px;
  clear: both;
  border:1px solid #fff;
  position: relative;
}
.logo img {
  margin-right: 10px;
  margin-top: 10px;
}
.logo .name-and-tagline {
  border-left:1px solid #ccc;
  left: 60px;
  top: 10px;
  padding-left: 10px;
  position: absolute;
  padding-top: 9px;
  width: 300px;
}

.btn-close {
  opacity: 10%;
}

.category {
  font-family: sans-serif !important; 
  color: #aaa !important;
  display: none;
}

.source {
  font-size: 0.75em !important;
}
.source a:hover {
  text-decoration: underline;
}

body {
  overflow-y: scroll;
}

.updating, 
.last-updated small, 
.last-updated p {
  display: block;
}

.last-updated {
  font-size: 0.9em;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .updating, 
  .last-updated small, 
  .last-updated p {
    display: inline;
  }
  .last-updated p {
    margin-left:10px;
  }
  .last-updated {
    margin-top: -7px !important;
    margin-bottom: -12px !important;
    padding-top: 20px;
  }
}

.films h5 {
  font-size: 1.1em;
  margin-top: 15px;
  color:#171717;
}
.films p {
  margin-bottom: 5px;
}
.films .footer {
  font-size: 0.75em !important;
  color: #667;
}
.films > div:last-child .footer {
  margin-bottom: 0 !important;
}
.about ul {
  font-size: 0.9em;
  color:#171717;
}
.about-card .btn-close {
  color:#ccc !important;
}